<div id="<%= dom_id event %>" class="flex gap-2">
  <div class="flex flex-col flex-none justify-center
            items-center rounded border-solid border-2
            border-slate-300 bg-slate-200 w-24 h-24"
  >
    <p class="text-2xl"><strong><%= event.date.to_date.strftime('%d') %></strong></p>
    <p class="text-2xl"><%= event.date.to_date.strftime('%b') %></p>
  </div>

  <div class="max-h-24 overflow-hidden">
    <p><strong><%= event.title %></strong></p>
    <p>
      <%= event.from.to_time.strftime('%H:%M') %>
      &mdash;
      <%= event.to.to_time.strftime('%H:%M') %>
    </p>

    <%= event.content %>
  </div>
</div>
