<article>
  <section id="welcome">
    <h1><%= t("home.hello") %></h1>
    <p><%= raw t("home.vigor_def") %></p>

    <ul>
      <li>
        <%= raw t("home.vigor_about_1") %>
      </li>
      <li>
        <%= raw t("home.vigor_about_2") %>
      </li>
      <li>
        <%= raw t("home.vigor_about_3") %>
      </li>
      <li>
        <%= raw t("home.vigor_about_4") %>
      </li>
    </ul>
  </section>

  <section id="events" class="flex flex-col gap-4 w-fit border border-gray-300 bg-gray-200 rounded-lg shadow sm:p-1 md:p-2">
    <%= render template: "events/index" %>
  </section>
</article>
