<article>
  <section id="welcome">
    <h1><%= t("home.hello") %></h1>
    <p><%= raw t("home.vigor_def") %></p>

    <ul>
      <li>
        <%= raw t("home.vigor_about_1") %>
      </li>
      <li>
        <%= raw t("home.vigor_about_2") %>
      </li>
      <li>
        <%= raw t("home.vigor_about_3") %>
      </li>
      <li>
        <%= raw t("home.vigor_about_4") %>
      </li>
    </ul>
  </section>

  <section id="events">
    <h1><%= t("home.news") %></h1>
    <%= render partial: "event", collection: @events %>
  </section>
</article>
