<%= form_with(model: [@image_category, @image], class: "contents") do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prev image:</strong>
    <%= image_tag image.image, class: "object-scale-down h-48 w-96" if image.image.attached? %>
  </p>

  <div class="my-5">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
