<div id="<%= dom_id image %>">
  <%= image_tag image.image, class: "object-scale-down h-48 w-96 p-2" if image.image.attached? %>

  <% if action_name == "show" && @image_category.images.count > 1 %>
    <% prev_image = @image_category.images.where("id < ?", image.id).last %>
    <% next_image = @image_category.images.where("id > ?", image.id).first %>

    <div class="image-navigation">
      <% if prev_image %>
        <%= link_to "Previous", image_category_image_path(@image_category, prev_image) %>
      <% end %>

      <% if next_image %>
        <%= link_to "Next", image_category_image_path(@image_category, next_image) %>
      <% end %>
    </div>
  <% end %>

  <% if action_name != "show" %>
    <div class="flex gap-2">
      <%= link_to "Show this image", image_category_image_path(@image_category, image), class: "rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium" %>
      <%= button_to "Destroy this image", image_category_image_path(@image_category, image), method: :delete, class: "rounded-lg py-3 px-5 bg-red-100 inline-block font-medium" %>
    </div>
    <hr class="mt-6">
  <% end %>
</div>
