<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="text-gray-900 bg-gray-100 font-serif">
  <head>
    <title>Vigor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container flex flex-col mx-auto">
      <header>
        <div class="flex gap-4 items-center justify-start">
          <%= link_to root_path, class: "flex-none w-[222px]" do %>
            <%= image_tag("logo.gif", alt: "Logo image") %>
          <% end %>

          <%= image_tag("header.gif", alt: "Header image") %>

          <div class="flex gap-2">
            <% I18n.available_locales.each do |locale| %>
              <% url_params = request.query_parameters.merge(locale: locale) %>
              <%= link_to url_for(url_params), title: t("language.#{locale}"), class: "hover:scale-110" do %>
                <%= image_tag("#{locale}.png", alt: "#{locale} language") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </header>
      <main>
        <div class="flex gap-4">
          <aside class="flex-none bg-[#EFF1B6] w-[222px] p-2">
            <ul>
              <li>
                <%= t("menu.home") %>
                <ul>
                  <li><%= t("menu.calendar") %></li>
                  <li><%= t("menu.contacts") %></li>
                </ul>
              </li>
              <li>
                <%= t("menu.about") %>
                <ul>
                  <li><%= t("menu.history") %></li>
                  <li><%= t("menu.coordinators") %></li>
                </ul>
              </li>
              <li>
                <%= t("menu.programs") %>
                <ul>
                  <li><%= t("menu.club") %></li>
                  <li><%= t("menu.kaleidoscope") %></li>
                </ul>
              </li>
              <li>
                <%= link_to t("menu.gallery"), image_categories_path %>
                <% if image_categories = ImageCategory.all %>
                  <ul>
                    <% image_categories.all.each do |image_category| %>
                    <li>
                      <%= link_to image_category.name, image_category_path(image_category) %>
                    </li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            </ul>
          </aside>

          <article class="w-full bg-[#EFF1B6]">
            <% if notice.present? %>
              <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
            <% end %>

            <%= yield %>
          </article>
        </div>
      </main>
    </div>
  </body>
</html>
